*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#theform{
    margin: 10px;
    padding: 15px;
    display: table; 
    color: white;
    background-color: rgba(13, 177, 13, 0.74);   
    border: 2px solid black;
    border-radius: 20px;
}

.row {
    display: table-row;
}

.row label {
    display: table-cell;
    padding: 2px;
    text-align: left;
}

.row input {
    display: table-cell;
    padding: 2px;
    margin: 3px;
}

#sex {
    color: #0306076c;
}

button {
   display: flex;
   padding: 3px;
   margin: auto;  
   align-items: right;
   color: white;
   background-color: mediumseagreen;
   border-radius: 10px;
}

button:hover{
    color: yellow;
}